#root {
  height: 100%;
  background-color: #FAF8EF;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.button {
  margin-bottom: 8px;
  font-size: 14px;
  width: 120px;
  height: 40px;
  background-color: #F67C60;
  border: unset;
  border: 1px solid #F67C60;
  color: #FFFFFF;
}
.button:hover {
  color: #F67C60;
  background-color: #FFFFFF;
  border: 1px solid #F67C60;
}
.ant-btn:focus {
  color: #F67C60;
  border-color: #F67C60;
}